body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
/* reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul,
ol {
    list-style-type: none;
margin: 0;
padding: 0;
}
img {
    display: block;
    max-width: 100%;
} 
    a {
        text-decoration: none;
        
    }
    /* common */
        .container {
            width: 1158px;
            padding: 0 15px;
            margin: 0 auto;
        }
        /* header */
        .page-header {
            border-bottom: 1px solid #e7e9fc;
        }
        .header-container{
            display: flex;
            align-items: center;
        }
        .header-nav {
            display: flex;
            align-items: center;
        }
        .nav-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .contacts-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        .header-logo {
            padding: 24px 0;
            margin-right: 76px;
        }
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
    }
    .header-logo .logo-part {
        color: #2e2f42;
    }
        .footer-logo .logo-part {
            color: #f4f4fd;}
    .nav-link {
        padding: 24 px 0;
        display: block;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
    }
                   .contacts {
                    font-style: normal;
                    margin-left: auto;
                   }
    .contacts-link {
        display: block;
padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
         .nav-link:hover,
         .nav-link:focus,
         .contacts-link:hover,
         .contacts-link:focus {
    color: #404bbf;
}
.page-footer {
    background-color: #2e2f42;
}
/* Banner */
.banner { 
    background-color: #2e2f42;
display: block;
    text-align: center;
    padding: 188px auto;
width: 100%;
}
.banner-titel {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        padding: 188px 0 48px;
        margin: 0 auto;
        width: 496px;
}
.banner-button {
        background-color: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
            border-radius: 4px;
        padding: 16px 32px;
        margin-bottom: 188px;         
}
.banner-button:hover,
.banner-button:focus {
        background-color: #404bbf;
}
/* Strengths */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.strengths {
   width: 100%;
    padding: 120px 0;
}
.strengths-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
margin-bottom: 8px;
}
    .strengths-list {
        display: flex;
        align-items: center;
        gap: 24px;
    }
.strengths-item {
    width: calc( (1158px - 3 * 24px)/ 4);
}
.strengths-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
      }
/* Team */
.team {
    background-color: #f4f4fd;
    width: 100%;
        padding: 120px 0;
}
.team-list {
    display: flex;
        align-items: center;
        gap: 24px;
}
.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}
.team-item {
        background-color: #fff;
        border-radius: 0 0 4px 4px;
}
.team-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-foto {
    display: block;
    max-width: 100%;
    height: auto;
}
.team-card {
    padding: 32px 0;
}
.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
/* Portfolio */
.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-item-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}





